
@model List<MVC6ApiClientExample.Models.Album>

@{ 
    ViewBag.Title = "Albums";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Add Album", "Create", "Albums", null, new { @class = "btn btn-primary" })

<table>
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th></th>
    </tr>
    @foreach(var album in Model)
    {
        <tr>
            <td>@Html.ActionLink(album.Title, "Detail", new { id = album.Id })</td>
            <td>@album.Artist</td>
            <td>@Html.ActionLink("Delete", "Delete", "Albums", new { id = album.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure?')" })</td>
        </tr>
    }
</table>
